<section class="w-full dark:bg-gray-900">
  <div
    class="p-6 rounded-xl bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700"
  >
    <h2
      translate="ngelmakTranslation.userManagement.security.login.title"
      class="text-2xl font-semibold text-gray-900 dark:text-white mb-4"
    >
      Identifiant du compte
    </h2>

    <p
      translate="ngelmakTranslation.userManagement.security.login.description"
      class="text-sm text-gray-500 dark:text-gray-400 mb-4 leading-relaxed"
    >
      Votre identifiant est utilisé pour vous connecter à votre compte. Il n'est
      <strong>pas visible publiquement</strong> et n'est jamais partagé avec des tiers. Vous pouvez
      le modifier à tout moment si nécessaire.
    </p>

    @if (!editLogin()) {
      <div class="flex items-center gap-2">
        @if (user().login) {
          <p class="text-lg text-gray-900 dark:text-white">@{{ user().login }}</p>
        } @else {
          <p translate="ngelmakTranslation.userManagement.security.login.empty" class="text-base italic text-red-500 dark:text-red-400">Aucun identifiant renseigné</p>
        }

        <button
          translate="ngelmakTranslation.userManagement.security.login.edit"
          (click)="editLogin.set(true)"
          class="self-start mt-1 text-sm text-blue-600 hover:underline dark:text-blue-400"
        >
          Modifier l'identifiant
        </button>
      </div>
    } @else {
      <div class="flex flex-col gap-2 items-start">
        <div class="relative md:w-1/2 w-full">
          <input
            type="text"
            id="login"
            [field]="loginForm.login"
            placeholder=" "
            class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 dark:focus:border-blue-500 peer"
          />

          <label
            translate="ngelmakTranslation.userManagement.security.login.label"
            for="login"
            class="absolute flex items-center gap-2 text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
          >
            Identifiant
          </label>

          <!-- Checking -->
          @if (isUpdating()) {
            <p class="text-sm text-gray-500 dark:text-gray-400 mt-1 flex items-center gap-1">
              <svg class="w-4 h-4 animate-spin" fill="none" viewBox="0 0 24 24">
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8v4l3-3-3-3v4a8 8 0 100 16v-4l-3 3 3 3v-4a8 8 0 01-8-8z"
                ></path>
              </svg>
              <span translate="ngelmakTranslation.userManagement.security.login.checking">Vérification en cours...</span>
            </p>
          }

          <!-- Available -->
          <!-- <p class="text-sm text-green-600 dark:text-green-400 mt-1 flex items-center gap-1">
            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24">
              <path
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            Identifiant disponible
          </p> -->

          <!-- Unavailable -->
          @if (loginAlreadyInUse()) {
            <p class="text-sm text-red-600 dark:text-red-500 mt-1 flex items-center gap-1">
              <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24">
                <path
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              <span translate="ngelmakTranslation.userManagement.security.login.unavailable">Identifiant déjà utilisé</span>
            </p>
          }
        </div>

        <div class="inline-flex items-center gap-2 flex-wrap">
          <button
            (click)="editLogin.set(false)"
            [disabled]="isUpdating()"
            class="inline-flex items-center gap-2 px-5 py-2.5 bg-primary-600 text-white rounded-lg hover:bg-primary-700 text-sm font-medium dark:bg-gray-700 dark:hover:bg-gray-600"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6"
              />
            </svg>

            <span translate="ngelmakTranslation.userManagement.security.login.actions.cancel">Annuler</span>
          </button>
          <button
            (click)="updateLogin()"
            [disabled]="loginForm().invalid() || isUpdating()"
            class="inline-flex items-center gap-2 px-5 py-2.5 bg-primary-600 text-white rounded-lg hover:bg-primary-700 text-sm font-medium dark:bg-gray-700 dark:hover:bg-gray-600 disabled:cursor-not-allowed"
          >
            @if (isUpdating()) {
              <svg
                class="inline w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
            }
            <span translate="ngelmakTranslation.userManagement.security.login.actions.save">Enregistrer</span>
          </button>
        </div>
      </div>
    }
  </div>
</section>
