@if (account()) {
  <section class="pt-12">
    <div
      class="flex flex-col w-full mt-4 bg-gray-50 dark:bg-gray-700 shadow-xl rounded-lg text-gray-900 dark:text-gray-100"
    >
      <!-- Front image -->
      <div
        class="mx-auto w-24 h-24 md:w-32 md:h-32 relative -mt-16 border-4 border-white dark:border-gray-700 rounded-full overflow-hidden"
      >
        @if (account().avatar) {
          <img
            class="object-cover object-center h-full w-full"
            [src]="account().avatar"
            alt="Channel front image"
          />
        } @else {
          <div
            class="w-full h-full flex items-center justify-center rounded-full bg-gray-300 dark:bg-gray-700 text-5xl font-bold text-gray-800 dark:text-gray-200 shadow-lg border-4 border-white dark:border-gray-800"
          >
            {{ account().name.at(0) }}
          </div>
        }
      </div>

      <!-- Account info -->
      <div class="text-center">
        <h2 class="font-semibold">{{ account().name }}</h2>
        <p class="text-gray-600 dark:text-gray-300">{{ account().description }}</p>
      </div>

      <!-- Stats -->
      <ul class="py-4 text-gray-700 dark:text-gray-300 flex items-center justify-around">
        <li class="flex flex-col items-center justify-between">
          <svg
            class="w-4 fill-current text-blue-900 dark:text-blue-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M7 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1c2.15 0 4.2.4 6.1 1.09L12 16h-1.25L10 20H4l-.75-4H2L.9 10.09A17.93 17.93 0 0 1 7 9zm8.31.17c1.32.18 2.59.48 3.8.92L18 16h-1.25L16 20h-3.96l.37-2h1.25l1.65-8.83zM13 0a4 4 0 1 1-1.33 7.76 5.96 5.96 0 0 0 0-7.52C12.1.1 12.53 0 13 0z"
            />
          </svg>
          <div>5.02M</div>
        </li>

        <li class="flex flex-col items-center justify-around">
          <svg
            class="w-4 fill-current text-blue-900 dark:text-blue-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"
            />
          </svg>
          <div>850</div>
        </li>
      </ul>

      <!-- More -->
      <div class="flex justify-center p-4 mt-2 border-t border-gray-200 dark:border-gray-600">
          <a
            routerLink="/account"
            class="flex items-center justify-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 w-32 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Voir plus
          </a>
      </div>
    </div>
  </section>
} @else {
  <section>
    <div class="flex flex-col gap-4">
      <div class="relative">
        <input
          type="text"
          [field]="accountForm.name"
          id="floating_filled"
          class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
        />
        <label
          for="floating_filled"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >Nom de la chaine</label
        >
      </div>

      @if (accountForm.name().dirty()) {
        @for (error of accountForm.name().errors(); track error) {
          <p class="text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{ error.message }}</span>
          </p>
        }
      }
      <button
        (click)="save()"
        [disabled]="accountForm().invalid() || isSaving()"
        type="button"
        class="flex gap-2 items-center justify-center hover:text-white text-center dark:hover:text-white text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 focus:outline-2 focus:outline-dashed focus:outline-gray-500 focus:outline-offset-4 disabled:cursor-not-allowed"
      >
        @if (isSaving()) {
          <svg
            class="inline w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
        }
        <span>Créer mon compte</span>
      </button>
    </div>
  </section>
}
