<div
  class="relative flex flex-col gap-2 rounded-bl-lg"
  [ngClass]="{
    'pl-1': level() === 0,
    'pl-3': level() === 1,
    'pl-5': level() >= 2,
    'border-l border-gray-300 dark:border-gray-700': replies().length > 0,
  }"
>
  <div class="flex gap-3 items-start">
    @if (level() < 2) {
      <a class="shrink-0 mt-1" [routerLink]="['channel', commentSig().channel?.identifier, 'view']">
        @if (commentSig().channel?.avatar) {
          <img
            [src]="commentSig().channel?.avatar"
            alt="Avatar"
            class="rounded-full w-7 h-7"
            onerror="
              this.onerror = null;
              this.src = 'assets/images/ngelmak-logo-light.svg';
            "
          />
        } @else {
          <div
            class="flex items-center justify-center rounded-full w-7 h-7 text-base font-semibold uppercase text-gray-800 dark:text-gray-900 bg-gray-200 dark:bg-gray-300"
          >
            {{ commentSig().channel?.name?.at(0) }}
          </div>
        }
      </a>
    }

    <div class="flex flex-col w-full gap-1">
      <div class="flex items-center gap-3">
        <div class="flex flex-col leading-tight">
          <span class="font-semibold text-gray-900 dark:text-white">
            {{ commentSig().channel.name }}
          </span>
          <span class="text-xs italic text-gray-500 dark:text-gray-400">
            @{{ commentSig().channel.identifier }}
          </span>
        </div>

        <div class="relative ml-auto" clickOutside (onClickOutside)="showMenu.set(false)">
          <button
            class="p-1 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700"
            (click)="showMenu.set(!showMenu())"
            [ngClass]="{ 'bg-gray-100 dark:bg-gray-700': showMenu() }"
          >
            <svg class="w-5 h-5 text-gray-800 dark:text-gray-200" fill="none" viewBox="0 0 24 24">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="M6 12h.01m6 0h.01m5.99 0h.01"
              />
            </svg>
          </button>

          @if (showMenu()) {
            <ul
              class="absolute right-0 top-8 w-40 rounded-xl shadow-xl bg-gray-100 dark:bg-gray-700 border border-gray-200 dark:border-gray-600 divide-y divide-gray-200 dark:divide-gray-700 py-2 z-20 animate-fadeIn"
            >
              <li>
                <button
                  (click)="isSignalComment.set(true)"
                  class="w-full flex flex-col px-3 py-2 hover:bg-gray-200 dark:hover:bg-gray-600"
                >
                  <p class="flex items-center justify-between text-sm text-gray-700 dark:text-gray-200">
                    <span translate="ngelmakTranslation.entities.comment.list.item.report.label">Signaler</span>
                    <svg
                      class="w-4 h-4"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 14v7M5 4.971v9.541c5.6-5.538 8.4 2.64 14-.086v-9.54C13.4 7.61 10.6-.568 5 4.97Z"
                      />
                    </svg>
                  </p>
                  <p
                    translate="ngelmakTranslation.entities.comment.list.item.report.privacy"
                    class="text-xs text-gray-500 dark:text-gray-400"
                  >
                    Votre identité restera confidentielle.
                  </p>
                </button>
              </li>

              @if (commentSig().channel?.id == activeChannel()?.id) {
                <li>
                  <button
                    (click)="isUpdating.set(true)"
                    class="w-full flex items-center justify-between px-3 py-2 rounded-md hover:bg-gray-100 dark:hover:bg-gray-700"
                  >
                    <span translate="ngelmakTranslation.entities.comment.list.item.update">Modifier</span>
                    <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24">
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"
                      />
                    </svg>
                  </button>
                </li>

                <li>
                  <button
                    (click)="confirmDeleteOpen.set(true)"
                    class="w-full flex items-center justify-between px-3 py-2 rounded-md text-red-600 dark:text-red-400 hover:bg-red-50 dark:hover:bg-red-900/30"
                  >
                    <span translate="ngelmakTranslation.entities.comment.list.item.delete">Supprimer</span>
                    @if (isDeleting()) {
                      <svg
                        class="w-4 h-4 animate-spin fill-red-600 text-gray-200 dark:text-gray-600"
                        viewBox="0 0 100 101"
                      >
                        <path
                          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908Z"
                          fill="currentColor"
                        />
                        <path
                          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentFill"
                        />
                      </svg>
                    } @else {
                      <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24">
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                        />
                      </svg>
                    }
                  </button>

                  @if (confirmDeleteOpen()) {
                    <app-confirm-dialog
                      variant="danger"
                      title="Confirmation de suppression"
                      message="Êtes-vous sûr de vouloir supprimer ce commentaire ?"
                      (confirm)="handleDeleteConfirm($event)"
                    ></app-confirm-dialog>
                  }
                </li>
              }
            </ul>
          }
        </div>
      </div>

      <div class="text-gray-900 dark:text-white">
        @if (level() > 0 && replyTo) {
          <span class="text-blue-600 dark:text-blue-400 font-medium">
            @{{ replyTo()?.channel?.name }}
          </span>
        }

        @if (isUpdating()) {
          <app-comment-update
            [comment]="commentSig()"
            (oncomment)="handleReplyOrUpdate($event)"
          ></app-comment-update>
        } @else {
          <div class="mb-3 whitespace-pre-line" [innerHTML]="commentSig().content"></div>
        }
      </div>

      <div class="flex items-center gap-3 text-xs text-gray-500 dark:text-gray-400">
        <app-comment-reaction-dialog [comment]="commentSig()"></app-comment-reaction-dialog>

        <button
          translate="ngelmakTranslation.entities.comment.list.item.reply"
          class="font-medium hover:underline"
          (click)="isReplying.set(!isReplying())"
        >
          Répondre
        </button>

        <span>{{ commentSig().at | duration }}</span>

        @if (commentSig().replyCount > 0) {
          <button
            (click)="toggleReplies()"
            [disabled]="isLoading()"
            class="ml-auto flex items-center gap-1 hover:underline"
          >
            @if (isLoading()) {
              <svg
                class="w-4 h-4 animate-spin text-gray-200 dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
                viewBox="0 0 100 101"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
            }
            {{ commentSig().replyCount }}
            <span translate="ngelmakTranslation.entities.comment.list.item.replies">réponses</span>
          </button>
        }
      </div>

      <!-- Creating a ticket to report a problem with a publication -->
      @if (isSignalComment()) {
        <app-ticket-dialog
          [comment]="commentSig()"
          (onclose)="isSignalComment.set(false)"
        ></app-ticket-dialog>
      }

      <!-- Replying to a comment or updating a comment -->
      @if (isReplying()) {
        <app-comment-update
          [withAttach]="false"
          [replyTo]="commentSig()"
          (oncomment)="handleReplyOrUpdate($event)"
          (oncancel)="handleCancelReplyOrUpdate()"
        ></app-comment-update>
      }

      <!-- Show replies -->
      @if (showReplies()) {
        <div class="flex flex-col gap-2 mt-5">
          @for (replyComment of replies(); track $index) {
            <app-comment-item
              [comment]="replyComment"
              [replyTo]="commentSig()"
              [level]="level() + 1"
              (ondelete)="onDeletedReply($event)"
            ></app-comment-item>
          }
        </div>
      }
    </div>
  </div>
</div>
