<!-- <app-navbar></app-navbar>
<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
  <app-sidebar></app-sidebar>
  <div id="main-content" #mainContent class="w-full flex-1 overflow-y-auto bg-gray-50 dark:bg-gray-900">
    <router-outlet></router-outlet>
  </div>
</div> -->

<app-navbar class="fixed top-0 left-0 right-0 z-50"></app-navbar>

<div class="flex pt-16 h-screen overflow-hidden bg-gray-50 dark:bg-gray-900">

  <app-sidebar class="h-full overflow-y-auto"></app-sidebar>

  <div
    #mainContent
    id="main-content"
    class="w-full overflow-y-auto bg-gray-50 dark:bg-gray-900"
    (scroll)="onScroll($event)"
  >
    <router-outlet></router-outlet>
  </div>

</div>

