@if (ticketSig()) {
  <div
    @fadeInUp
    class="fixed inset-0 bg-black/40  flex pt-16 items-center justify-center z-40"
  >
    <div
      class="bg-white dark:bg-gray-800 rounded-2xl shadow-2xl w-full max-w-md border border-gray-200 dark:border-gray-700 max-h-[90vh] flex flex-col"
    >
      <!-- HEADER -->
      <div class="p-3 md:p-5 border-b dark:border-gray-700">
        <div class="flex items-start justify-between">
          <div>
            <h2
              translate="ngelmakTranslation.entities.ticket.open.title"
              [translateParams]="{ id: ticketSig().id }"
              class="text-2xl font-semibold text-gray-900 dark:text-white leading-tight"
            >
              Ticket #{{ ticketSig().id }}
            </h2>
            <p
              translate="ngelmakTranslation.entities.ticket.open.subtitle"
              class="text-sm text-gray-500 dark:text-gray-400 mt-0.5"
            >
              Signalement utilisateur
            </p>
          </div>

          <span
            class="px-2.5 py-1 text-sm rounded-full font-medium shadow-sm"
            [ngClass]="{
              'bg-green-100 text-green-700 dark:bg-green-900 dark:text-green-300':
                ticketSig().resolved,
              'bg-red-100 text-red-700 dark:bg-red-900 dark:text-red-300': !ticketSig().resolved,
            }"
          >
            {{
              (ticketSig().resolved
                ? 'ngelmakTranslation.entities.ticket.open.statusResolved'
                : 'ngelmakTranslation.entities.ticket.open.statusUnresolved'
              ) | translate
            }}
          </span>
        </div>
      </div>

      <!-- SCROLLABLE CONTENT -->
      <div class="p-3 md:p-5 overflow-y-auto space-y-6 text-gray-700 dark:text-gray-300">
        <!-- GRID INFO -->
        <div class="grid grid-cols-2 gap-4">
          <!-- Émetteur -->
          <div>
            <h3
              translate="ngelmakTranslation.entities.ticket.open.issuedByTitle"
              class="text-sm font-semibold text-gray-500 dark:text-gray-400"
            >
              Émis par
            </h3>
            <p class="mt-1 font-medium text-base">{{ ticketSig().issuedBy }}</p>
          </div>

          <!-- Date -->
          <div>
            <h3
              translate="ngelmakTranslation.entities.ticket.open.issuedAtTitle"
              class="text-sm font-semibold text-gray-500 dark:text-gray-400"
            >
              Émis le
            </h3>
            <p class="mt-1 text-base">{{ ticketSig().issuedAt | formatMediumDatetime }}</p>
          </div>

          <!-- Assigné à -->
          <div>
            <h3
              translate="ngelmakTranslation.entities.ticket.open.assignedToTitle"
              class="text-sm font-semibold text-gray-500 dark:text-gray-400"
            >
              Assigné à
            </h3>
            <p class="mt-1 text-base">{{ ticketSig().assignedTo ?? '—' }}</p>
          </div>

          <!-- Géré par -->
          <div>
            <h3
              translate="ngelmakTranslation.entities.ticket.open.handledByTitle"
              class="text-sm font-semibold text-gray-500 dark:text-gray-400"
            >
              Géré par
            </h3>
            <p class="mt-1 text-base">{{ ticketSig().handledBy ?? '—' }}</p>
          </div>
        </div>

        <!-- CIBLE -->
        <div>
          <h3
            translate="ngelmakTranslation.entities.ticket.open.targetTitle"
            class="text-sm font-semibold text-gray-500 dark:text-gray-400"
          >
            Cible
          </h3>

          <div class="mt-1 text-base space-y-3">
            <!-- CHANNEL -->
            @if (ticketSig().channel) {
              <div class="flex items-center gap-3">
                <span translate="ngelmakTranslation.entities.ticket.open.channelLabel" class="font-medium"
                  >Channel :</span
                >
                <a
                  [routerLink]="[
                    '/channel',
                    ticketSig().channel.id + '-' + ticketSig().channel.identifier,
                    'view',
                  ]"
                  target="_blank"
                  class="text-blue-600 dark:text-blue-400 font-medium hover:underline"
                >
                  {{ ticketSig().channel.name }}
                </a>

                <!-- Avatar -->
                <div class="shrink-0">
                  @if (ticketSig().channel.avatar) {
                    <img
                      [src]="ticketSig().channel.avatar"
                      alt="Channel avatar"
                      class="rounded-full w-10 h-10"
                    />
                  } @else {
                    <div
                      class="flex items-center justify-center rounded-full w-10 h-10 text-xl uppercase text-black bg-gray-50 dark:bg-gray-300"
                    >
                      {{ ticketSig().channel.name.at(0) }}
                    </div>
                  }
                </div>
              </div>
            }

            <!-- POST -->
            @else if (ticketSig().post) {
              <div>
                <span translate="ngelmakTranslation.entities.ticket.open.postLabel" class="font-medium">Post :</span>

                <!-- CLICKABLE POST ID -->
                <a
                  [routerLink]="[]"
                  fragment="post-{{ ticketSig().post.id }}"
                  target="_blank"
                  class="text-blue-600 dark:text-blue-400 font-semibold hover:underline ml-1"
                >
                  #{{ ticketSig().post.id }}
                </a>

                <!-- Content -->
                <div
                  class="mt-2 mb-3 text-gray-900 dark:text-white whitespace-pre-line"
                  [innerHTML]="ticketSig().post.content"
                ></div>

                <!-- Attachments -->
                <div
                  class="grid gap-4"
                  [ngClass]="{
                    'grid-cols-1': ticketSig().post.files.length === 1,
                    'grid-cols-1 md:grid-cols-2': ticketSig().post.files.length > 1,
                  }"
                >
                  @for (file of ticketSig().post.files; track file; let idx = $index) {
                    <img
                      class="h-auto rounded-lg shadow-xl dark:shadow-gray-800"
                      [src]="file.url"
                      alt="Imported image"
                    />
                  }
                </div>
              </div>
            }

            <!-- COMMENT -->
            @else if (ticketSig().comment) {
              <div>
                <span translate="ngelmakTranslation.entities.ticket.open.commentLabel" class="font-medium"
                  >Commentaire :</span
                >

                <!-- CLICKABLE COMMENT ID -->
                <a
                  [routerLink]="[]"
                  fragment="comment-{{ ticketSig().comment.id }}"
                  target="_blank"
                  class="text-blue-600 dark:text-blue-400 font-semibold hover:underline ml-1"
                >
                  #{{ ticketSig().comment.id }}
                </a>

                <!-- Content -->
                <div
                  class="mt-2 mb-3 text-gray-900 dark:text-white whitespace-pre-line"
                  [innerHTML]="ticketSig().comment.content"
                ></div>

                <!-- Attachment -->
                <img
                  class="h-auto rounded-lg shadow-xl dark:shadow-gray-800"
                  [src]="ticketSig().comment.file.url"
                  alt="Imported image"
                />
              </div>
            } @else {
              —
            }
          </div>
        </div>

        <!-- DESCRIPTION -->
        <div>
          <h3
            translate="ngelmakTranslation.entities.ticket.open.descriptionTitle"
            class="text-sm font-semibold text-gray-500 dark:text-gray-400"
          >
            Description
          </h3>
          <div class="mt-2 whitespace-pre-line leading-relaxed text-base">
            {{ ticketSig().description }}
          </div>
        </div>

        <!-- EVIDENCE -->
        @if (ticketSig().evidence) {
          <div>
            <h3
              translate="ngelmakTranslation.entities.ticket.open.evidenceTitle"
              class="text-sm font-semibold text-gray-500 dark:text-gray-400"
            >
              Preuve
            </h3>
            <a
              translate="ngelmakTranslation.entities.ticket.open.openEvidence"
              [href]="ticketSig().evidence.url"
              target="_blank"
              class="mt-2 inline-block text-blue-600 dark:text-blue-400 underline text-sm"
            >
              Voir la pièce jointe
            </a>
          </div>
        }
      </div>

      <!-- ACTIONS -->
      <div class="p-3 md:p-5 border-t dark:border-gray-700 flex justify-end gap-3">
        <button
          translate="ngelmakTranslation.entities.ticket.open.close"
          type="button"
          (click)="onclose.emit()"
          class="px-4 py-2 text-sm rounded-lg border border-gray-300 text-gray-700 bg-white hover:bg-gray-100 dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600 dark:hover:bg-gray-600"
        >
          Fermer
        </button>

        <button
          type="button"
          class="flex gap-2 items-center text-center text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 disabled:cursor-not-allowed disabled:opacity-50"
        >
          @if (isSaving()) {
            <svg class="inline w-5 h-5 animate-spin text-white" viewBox="0 0 100 101" fill="none">
              <path d="M100 50.5908C100 78.2051..." fill="currentColor" opacity="0.2" />
              <path d="M93.9676 39.0409..." fill="currentColor" />
            </svg>
          }
          <span translate="ngelmakTranslation.entities.ticket.open.markResolved">Marquer comme résolu</span>
        </button>
      </div>
    </div>
  </div>
}
