<div
  class="flex justify-center items-start gap-2 lg:gap-4 p-0 md:p-2 lg:pt-4 bg-gray-100 dark:bg-gray-900 min-h-screen mx-auto"
>
  <!-- LEFT SIDEBAR (hidden on small screens) -->
  <aside
    class="hidden md:flex flex-col gap-4 p-3 lg:p-6 bg-white dark:bg-gray-800 rounded-lg shadow-sm divide-y divide-gray-200 dark:divide-gray-700 overflow-y-auto w-1/4"
  >
    @if (user()) {
      <app-channel-view></app-channel-view>
    } @else {
      <!-- Guest view -->
      <div class="pt-4">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">
          Rejoignez la discussion
        </h3>
        <p class="text-sm text-gray-600 dark:text-gray-300 mb-4 leading-relaxed">
          Créer un compte ne prend que quelques instants...
        </p>
        <div class="flex flex-col gap-2">
          <button
            routerLink="/sign-in"
            class="inline-flex items-center justify-center px-4 py-2 bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-lg hover:bg-gray-300 dark:hover:bg-gray-600 text-sm font-medium"
          >
            Se connecter
          </button>

          <button
            routerLink="/sign-up"
            class="inline-flex items-center justify-center px-4 py-2 bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-lg hover:bg-gray-300 dark:hover:bg-gray-600 text-sm font-medium"
          >
            Créer un compte
          </button>
        </div>
      </div>
    }
  </aside>

  <!-- MAIN FEED (always visible, full width on small screens) -->
  <main
    class="flex flex-col gap-4 p-3 lg:p-6 bg-white dark:bg-gray-800 rounded-lg shadow-sm w-full md:w-2/4"
  >
    <app-feed></app-feed>
  </main>

  <!-- RIGHT SIDEBAR (hidden on small screens) -->
  <aside
    class="hidden md:flex flex-col gap-4 p-3 lg:p-6 bg-white dark:bg-gray-800 rounded-lg shadow-sm divide-y divide-gray-200 dark:divide-gray-700 overflow-auto w-1/4"
  >
    @if (showContactForm()) {
      <div class="flex flex-col gap-2">
        <app-contact-form></app-contact-form>

        <button
          (click)="showContactForm.set(false)"
          class="text-center gap-2 px-5 py-2.5 bg-primary-600 text-white rounded-lg hover:bg-primary-700 text-sm font-medium dark:bg-gray-700 dark:hover:bg-gray-600"
        >
          Annuler
        </button>
      </div>
    } @else {
      <div class="pt-4">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Besoin d'aide ?</h3>

        <p class="text-sm text-gray-600 dark:text-gray-300 mb-4 leading-relaxed">
          Une question, un problème ou une suggestion. Notre équipe est là pour vous accompagner.
        </p>

        <button
          (click)="showContactForm.set(true)"
          class="inline-flex items-center gap-2 px-4 py-2 bg-primary-600 text-white rounded-lg hover:bg-primary-700 text-sm font-medium dark:bg-gray-700 dark:hover:bg-gray-600"
        >
          Contacter le support
        </button>
      </div>
    }
  </aside>
</div>
